#log {
  background-color: lightgray;
  color: black;
  height: 10em;
  overflow: auto;
}

canvas {
  border: 0.2em solid black;
  background-color: dimgray;
}

body {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: small;
}
