#log {
  background-color: lightgray;
  color: black;
  width: 35em;
  height: 20em;
  overflow: auto;
}

.center {
  margin: auto;
  width: 50%;
}

canvas {
  border: 0.2em solid black;
  background-color: dimgray;
}

body {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: small;
}
